<%= link_to :back, class: "category-edit-back" do %>
  <i class="fa-solid fa-backward"></i>
<% end %>
<div class="show-task-container">
    <div class="show-task-content">
        <p><%= @task.task %></p>
        <hr>
        <p><%= @task.details%></p>
        <hr>
        <p><%= @task.deadline%></p>
    </div>
</div>