#login, #edit-account, #logout, #register {
    font-size: 17PX;
}

#login:hover, #edit-account:hover, #logout:hover, #register:hover {
    transform: scale(1.05);
    transition: .3s ease-in-out;
}
