.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.category-header p {
  font-size: 30px;
  margin-top: 15px;
}
 
.category-all {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: wrap;
}

.category-cont {
  width: 20%;
  height: 200px;
  background-color: #3c4048;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.category-name {
  color: white;
  text-decoration: none;
}

.category-name:hover {
  transform: scale(1.05);
  color: white;
}

.add-category {
  display: flex;
  justify-content: flex-end;
  color: #00abb3;
  font-size: 60px;
  text-decoration: none;
  margin-left: 20px;
}

.add-category:hover {
  transform: scale(1.2);
  color: #00abb3;
}

.notice-container {
  display: flex;
  justify-content: center;
}

.notice {
  color: #00abb3;
  width: 50%;
  margin-top: 20px;
  padding: 5px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .category-cont {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .category-cont {
    width: 40%;
  }
}
