.category-header  {
    display: flex;
    justify-content: center;
}

.category-all {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.category-cont {
    width: 20%;
    height: 200px;
    background-color: #3C4048;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; 
}

.category-name {
    color: white;  
    text-decoration: none;
}

.category-name:hover {
    transform: scale(1.05);
    color: white;  
}

.add-category {
    display: flex;
    justify-content: center;
    color: #00ABB3;
    font-size: 60px;
    text-decoration: none;
    margin-top: 100px;
}


.add-category:hover {
    transform: scale(1.2);
    color: #00ABB3;
    transition: 0.3s ease-in-out;
}




@media screen and (max-width:1200px) {
    .category-cont {
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .category-cont {
        width: 40%;
    }
}
