.card {
    width: 400px;
    margin-top: 50px;
}

// .card-header {
//     background-color: bisque;
// }

.card-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


