<nav class="navbar navbar-expand-lg" style="background-color: #00ABB3;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-3 mb-lg-0" style="margin-left: 20px;">
        <% if user_signed_in? %>
            <li class="nav-item" >
                <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class:"nav-link text-light" %>
            </li>
            <li class="nav-item">
                <%= link_to "EDIT ACCOUNT", edit_user_registration_path, class:"nav-link text-light" %>
            </li> 
            <% elsif %>
            <li class="nav-item">
                <%= link_to "LOGIN", new_user_session_path, class:"nav-link text-light" %>
            </li>
            <li class="nav-item">
                <%= link_to "REGISTER", new_user_registration_path, class:"nav-link text-light" %>
            </li>
        <% end %>
    </div>
  </div>
</nav>