<h1 class="category-header">Categories</h1>

<div class="category-all">
  <% @categories.each do |category| %>
    <p  class="category-cont"> 
        <%= link_to category.title, category, class: "category-name"%>
    </p>
  <% end %>
</div>



<%= link_to new_category_path, class: "add-category" do %>
<i class="fa-solid fa-plus"></i>
<% end %>

