<h1>Categories <i class="fa-solid fa-star fa-spin"></i></h1>

<ul>
  <% @categories.each do |category| %>
    <li> 
        <%= link_to category.title, category%>
    </li>
  <% end %>
</ul>

<%= link_to "New Category", new_category_path %>
